@model Editor.Models.AppleModel

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Apple added to basket confirmed</title>
</head>
<body>
    <div>
        <p>
            You have successfully added @Html.DisplayFor(model => model.Quantity) 
            @Html.DisplayFor(model => model.TypeOfApple) apples in your basket!
        </p>
        
    </div>
    <p>
        @Html.ActionLink("Back to store", "ShowStoreItems", new { id = ViewBag.storeId })
    </p>
</body>
</html>
